  rect {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
  .hidden { visibility:hidden; }
  .asm-ns { stroke:#dddddd; stroke-width:2px; fill:#dddddd;  }
  .asm-genome { stroke:rgb(177,89,40); stroke-width:2px; fill:rgb(255,255,255); visibility:hidden; }
  .asm-genome.asm-toggle { visibility:visible; }
  .asm-assembly { stroke:rgb(212,168,122); stroke-width:2px; fill:rgb(255,255,255); visibility:hidden; }
  .asm-assembly.asm-toggle { visibility:visible; }
  .asm-atgc { stroke:rgb(166,206,227); stroke-width:2px; fill:rgb(166,206,227); }
  .asm-gc { stroke:rgb(31,120,180); stroke-width:2px; fill:rgb(31,120,180); }
  .asm-ceg_comp { stroke:rgb(51,160,44); stroke-width:2px; fill:rgb(51,160,44); }
  .asm-ceg_part { stroke:rgb(178,223,138); stroke-width:2px; fill:rgb(178,223,138); }
  .asm-ceg_line { stroke:#555555; stroke-width:0.67px; fill:none; opacity:0.6; }
  .asm-contig_count { stroke:rgb(202,178,214); stroke-width:2px; fill:rgb(255,255,255); visibility:hidden; }
  .asm-contig_count.asm-toggle { visibility:visible; }
  .asm-count { stroke:rgb(202,178,214); stroke-width:2px; fill:rgb(202,178,214); }
  .asm-count_axis { stroke:white; stroke-width:2px; fill:none; }
  .asm-length_axis { stroke:#555555; stroke-width:0.67px; fill:none; opacity:0.6; }
  .asm-n50_pie { stroke:rgb(255,127,0); stroke-width:2px; fill:rgb(255,127,0); }
  .asm-n90_pie { stroke:rgb(253,191,111); stroke-width:2px; fill:rgb(253,191,111); }
  .asm-longest_pie { stroke:rgb(227,26,28); stroke-width:2px; fill:rgb(227,26,28)/*rgb(51,160,44)*/; }
  .asm-contig { stroke:#999999; stroke-width:2px; fill:rgb(255,255,255); visibility:hidden; }
  .asm-contig.asm-toggle { visibility:visible; }
  #asm-g-scaffold_length_highlight { opacity:1; }
  #asm-g-contig_length_data {  }
  .asm-pie { stroke:#bbbbbb; stroke-width:2px; fill:#bbbbbb; }
  .asm-majorTick { stroke:#555555; stroke-width:2px; fill:none; }
  .asm-minorTick { stroke:#555555; fill:none; }
  .asm-axis { stroke:#555555; stroke-width:2px; fill:none; }  
  text { dominant-baseline:middle; text-anchor:middle; font-size:8pt; font-family:sans-serif; fill:#555555; }
  text.asm-count_label { dominant-baseline:middle; text-anchor:end; fill:white; visibility:hidden; }
  text.asm-length_label { dominant-baseline:middle; text-anchor:start; stroke:none; :#555555; }
  text.asm-assembly_label { dominant-baseline:middle; text-anchor:start; fill:white; visibility:hidden; }
  text.asm-tl_title { dominant-baseline:middle; text-anchor:start; fill:black; font-size:12pt; }
  text.asm-br_title { dominant-baseline:middle; text-anchor:start; fill:black; font-size:12pt; }
  text.asm-bl_title { dominant-baseline:middle; text-anchor:start; fill:black; font-size:12pt; }
  text.asm-tr_title { dominant-baseline:middle; text-anchor:start; fill:black; font-size:12pt; }
  .asm-key { dominant-baseline:auto; text-anchor:start; fill:#555555; font-size:10pt; }
